In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [1]:
df=pd.read_csv(r"C:\Users\shash\Desktop\Major - Cardiovascular Disease Prediction using Machine Learing\cardio_train.csv\cardio_train.csv")
df

NameError: name 'pd' is not defined

In [3]:
df1=df['id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio'].str.split(";", expand=True)
df1

          0      1  2    3      4    5    6  7  8  9  10 11 12
0          0  18393  2  168   62.0  110   80  1  1  0  0  1  0
1          1  20228  1  156   85.0  140   90  3  1  0  0  1  1
2          2  18857  1  165   64.0  130   70  3  1  0  0  0  1
3          3  17623  2  169   82.0  150  100  1  1  0  0  1  1
4          4  17474  1  156   56.0  100   60  1  1  0  0  0  0
...      ...    ... ..  ...    ...  ...  ... .. .. .. .. .. ..
69995  99993  19240  2  168   76.0  120   80  1  1  1  0  1  0
69996  99995  22601  1  158  126.0  140   90  2  2  0  0  1  1
69997  99996  19066  2  183  105.0  180   90  3  1  0  1  0  1
69998  99998  22431  1  163   72.0  135   80  1  2  0  0  0  1
69999  99999  20540  1  170   72.0  120   80  2  1  0  0  1  0

[70000 rows x 13 columns]

In [4]:
df1.columns = ['Id','Age','Gender','Height','Weight','Bp_hi','Bp_lo','Cholestrol','Glucose','Smoke','Alchohol','Active','Cardio']

In [13]:
df2=df1.drop(columns='Id', axis=1)
df2

,Age,Gender,Height,Weight,Bp_hi,Bp_lo,Cholestrol,Glucose,Smoke,Alchohol,Active,Cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [14]:
df2.isnull().sum()

Age           0
Gender        0
Height        0
Weight        0
Bp_hi         0
Bp_lo         0
Cholestrol    0
Glucose       0
Smoke         0
Alchohol      0
Active        0
Cardio        0
dtype: int64

In [15]:
df2.describe()

,Age,Gender,Height,Weight,Bp_hi,Bp_lo,Cholestrol,Glucose,Smoke,Alchohol,Active,Cardio
count,70000,70000,70000,70000,70000,70000,70000,70000,70000,70000,70000,70000
unique,8076,2,109,287,153,157,3,3,2,2,2,2
top,19741,1,165,65.0,120,80,1,1,0,0,1,0
freq,32,45530,5853,3850,27699,34847,52385,59479,63831,66236,56261,35021

In [16]:
df2['Cardio'].value_counts()

0    35021
1    34979
Name: Cardio, dtype: int64

1--> Defective Heart
0--> Healthy Heart

Splitting the Features & Target

In [20]:
x=df2.drop(columns='Cardio', axis=1)
y=df2['Cardio']

Splitting into Training Data and Test Data

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, stratify=y, random_state=2)

In [22]:
print(x.shape, x_train.shape, x_test.shape)

(70000, 11) (52500, 11) (17500, 11)

Model Training - Logistic Regression

In [31]:
model = LogisticRegression()

In [33]:
model.fit(x_train,y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [34]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [35]:
print('Accuracy on Training data :', training_data_accuracy)

Accuracy on Training data : 0.7037714285714286

In [36]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [40]:
print('Accuracy on Test data :', test_data_accuracy)

Accuracy on Test data : 0.7028

Building a Predictive System

In [49]:
input_data = (19240,2,168,76.0,120,80,1,1,1,0,1)

#Converting into Numpy Array
input_data_as_numpy_array=np.asarray(input_data)
 
#Reshaping
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

print(prediction)

if(prediction[0]==0):
    print('Defective Heart')
else:
    print('Healthy Heart')

['0']
Healthy Heart